.faq {
    padding-bottom: 80px;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: -390px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1440px;
        width: 100%;
        height: 816px;
        z-index: -999;
    }

    &::before {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../images/bg/futuristic-ruins.jpg");

        @supports (background-image: url("data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAGF2aWZt")) {
            background-image: url("../images/bg/futuristic-ruins.avif");
        }
    }

    &::after {
        background: linear-gradient(180deg, rgba(11, 18, 23, 0) 0%, #0B1217 100%), linear-gradient(0deg, rgba(11, 18, 23, 0) 0%, #0B1217 100%), linear-gradient(90deg, rgba(11, 18, 23, 0) 79%, #0B1217 100%), linear-gradient(-90deg, rgba(11, 18, 23, 0) 79%, #0B1217 100%);
    }

    &__title {
        margin-bottom: 48px;
    }

    &__list {
        max-width: 986px;
        width: 100%;
        margin: 0 auto;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 32px;
        outline-offset: 6px;
        gap: 35px;
        position: relative;
        transition: outline 0.3s;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        &.blur-plate {
            padding: 16px 24px;
            transition: padding 0.3s;
        }

        &::after {
            padding: 1px;
            border-radius: 32px;
            background: linear-gradient(5.35deg, rgba(255, 255, 255, 0) 72.32%, rgba(255, 255, 255, 0.6) 94.79%), linear-gradient(185.43deg, rgba(255, 255, 255, 0) 64.44%, rgba(255, 255, 255, 0.6) 100%);
        }

        &:hover {
            .faq__subtitle {
                color: $accent;
            }
        }

        &:focus {
            outline: 1px solid $accent;
        }

        &.is-open {

            &::after {
                background: linear-gradient(5.35deg, $accent-opacity-00 72.32%, $accent 94.79%), linear-gradient(185.43deg, $accent-opacity-00 64.44%, $accent 100%);
            }

            .faq__subtitle {
                margin-bottom: 12px;
                color: $accent;
            }

            .faq__icon {
                transform: rotate(180deg);
                top: 22px;
            }
        }
    }

    &__inner {
        overflow: hidden;
        padding-right: 42px;
    }

    &__button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 700;
        transition: margin-bottom 0.3s, color 0.3s;
    }

    &__answer {
        max-height: 0;
        transition: max-height 0.3s;
    }

    &__icon {
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.3s, top 0.3s;
        pointer-events: none;
    }
}

@media(max-width:768px) {
    .faq {
        &::before {
            background-image: url("../images/bg/futuristic-ruins-tab.jpg");

            @supports (background-image: url("data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAGF2aWZt")) {
                background-image: url("../images/bg/futuristic-ruins-tab.avif");
            }
        }

        &::before,
        &::after {
            bottom: -285px;
        }
    }
}

@media(max-width: 576px) {
    .faq {
        &::before {
            background-image: url("../images/bg/futuristic-ruins-mob.jpg");

            @supports (background-image: url("data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAGF2aWZt")) {
                background-image: url("../images/bg/futuristic-ruins-mob.avif");
            }
        }

        &::before,
        &::after {
            bottom: -345px;
        }

        &::after {
            background: linear-gradient(180deg, rgba(11, 18, 23, 0) -30%, #0B1217 100%), linear-gradient(0deg, rgba(11, 18, 23, 0) -30%, #0B1217 100%), linear-gradient(90deg, rgba(11, 18, 23, 0) 100%, #0B1217 100%), linear-gradient(-90deg, rgba(11, 18, 23, 0) 100%, #0B1217 100%);
        }

        &__inner {
            padding-right: 30px;
        }

        &__title {
            margin-bottom: 32px;
        }

        &__subtitle {
            font-size: 22px;
        }

        &__answer {
            font-size: 14px;
        }
    }
}