html[dir="rtl"] {
  direction: rtl;
  text-align: right;

  .hero {
    &__item {
      &::before {
        right: auto;
        left: 0;
        transform: scale3d(-1 , 1, 1)
      }
    }
    &__cta-text {
      max-width: 209px;
      width: 100%;
      text-align: center;
    }
    &__cta-icon {
      transform: rotate(180deg);
    }
  }
  .steps {
    &__title {
      display: flex;
      flex-direction: column;
    }
  }
  .plan {
    &__title {
      text-align: right;
      .accent {
        display: block;
      }
    }
    &__item.blur-plate {
      background: linear-gradient(75.18deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.01) 100%);
    }
  }
  .plan-card {
    &::after {
      filter: blur(6px);
    }
    &--annual {
      &::after {
        box-shadow: 4px 4px 170px #12181d inset;
      }
    }
    &--monthly {
      &::after {
        box-shadow: 4px 4px 170px #161e24 inset;
      }
    }

    &--trial{
      &::after {
      box-shadow: 4px 4px 170px #1d272e inset;
      }
    }
    &__icon {
      transform: rotate(180deg);
    }
  }
  .network {
    &__title {
      text-align: right;
    }
  }
  .countries {
    &__inner {
      padding: 0;
      flex-direction: row-reverse;
    }
  }
  .reviews {
    &__wrapper {
      &::before {
        right: auto;
        left: -174px;
      }
    }
    &__slider {
      margin-left: 0;
      margin-right: 15px;
    }
    &__img {
      transform: scale(-1,1);
      right: auto;
      left: 7px;
    }
  }
  .faq {
    &__inner {
      padding-right: 0;
      padding-left: 42px;
    }
    &__icon {
      right: auto;
      left: 18px;
    }
  }

  .ready {
    &__inner {
      padding-left: 0;
      padding-right: 34px;
      gap: 61px;

      &::before {
        transform: scale3d(-1, 1, 1);
        left: auto;
        right: -298px;
        bottom: -109px;
     }
    }

    &__img {
      transform: scale3d(-1, 1, 1);
    }

    &__item-accent {
      text-wrap: nowrap;
    }
  }

  @media(max-width: 1200px) {
    .plan {
      &__title {
        text-align: center;
        .accent {
          display: inline-block;
        }
      }
    }
  }
  @media (max-width: 1064px) {
    .reviews {
      &__slider {
        margin-right: 0;
      }
    }
  }

  @media(max-width: 1048px) {
    .ready {
      &__inner {
        padding: 0;
        gap: 0px;
      }
    }
  }
  @media (max-width: 992px) {
    .hero {
      &::before {
        left: 0;
        right: auto;
        bottom: -22px;
        transform: scale(-1,1);
      }
      &::after {
        right: calc(50% - 80px);
        left: auto;
      }
    }
    .network {
      &__title {
        text-align: center;
      }
      &__inner {
        padding: 0;
      }
    }
  }

  @media(max-width: 928px) {
    .ready {
      &__img-box {
        left: auto;
        right: -18%;
        bottom: 0;
      }
    }
  }

  @media(max-width: 860px) {
    .ready {
      &__inner {
        &::before {
          right: -430px;
        }
      }

      &__img-box {
        left: auto;
        right: -21%;
      }
    }
  }
  @media(max-width: 767px) {
    .ready {
      &__inner {
        &::before {
          width: 100%;
          background: #FFD700;
          filter: blur(222px);
          left: auto;
          right: -37px;
          bottom: -19px;
        }
      }
    }
  }

  @media (max-width: 576px) {
    .hero {
      &::before {
        bottom: 0;
        transform: translate(-50%, -50%);
        left: 50%;
        top: calc(50% - 86px);
      }
      &::after {
        right: auto;
        left: 50%;
      }
    }
    .steps {
      &__info {
        text-align: right;
      }
    }
    .metrics {
      &__card {
        &--upload {
          margin-left: 0;
          margin-right: auto;
        }
        &--latency {
          margin-right: 0;
          margin-left: auto;
        }
      }
  
    }
    .plan-card {
      flex-direction: row-reverse;
      &__info-price {
        justify-content: flex-end;
      }
    }
  }
  @media (max-width: 440px) {
    .hero {
      &::before {
        top: calc(50% - 106px);
      }
    }
  }

  @media(max-width: 568px) {
    .ready {
      &__inner {
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 158px;
          background: #FFD700;
          filter: blur(122px);
          right: 0;
          bottom: -19px;
          z-index: -1;
        }
      }
      &__item-accent {
        text-wrap: wrap;
      }
    }
  }
}