html[dir="rtl"] {
  direction: rtl;
  text-align: right;

  .ready {
    &__inner {
      padding-left: 0;
      padding-right: 34px;
      gap: 61px;

      &::before {
        transform: scale3d(-1, 1, 1);
      }
    }

    &__img {
      transform: scale3d(-1, 1, 1);
    }

    &__item-accent {
      text-wrap: nowrap;
    }
  }

  @media(max-width: 1048px) {
    .ready {
      &__inner {
        padding: 0;
        gap: 0px;
      }
    }
  }

  @media(max-width: 928px) {
    .ready {
      &__inner {
        &::before {
          background-position: right bottom;
        }
      }

      &__img-box {
        left: auto;
        right: -18%;
        bottom: 0;
      }
    }
  }

  @media(max-width: 860px) {
    .ready {
      &__inner {
        &::before {
          background-size: cover;
          left: 0;
          right: -20%;
          width: auto;
        }
      }

      &__img-box {
        left: auto;
        right: -21%;
      }
    }
  }
  @media(max-width: 767px) {
    .ready {
      &__inner {
        &::before {
          background-size: contain;
          right: auto;
          width: 100%;
          left: auto;
        }
      }
    }
  }

  @media(max-width: 568px) {
    .ready {
      &__item-accent {
        text-wrap: wrap;
      }
    }
  }
}