.metrics {
  text-align: center;
  position: relative;

  &__header {
    max-width: 1135px;
    width: 100%;
    margin: 0 auto 48px auto;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 57px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    &:nth-child(3) {
      min-width: 73px;
    }

    &:nth-child(4) {
      min-width: 93px;
    }
  }

  &__item-title {
    font-weight: 700;
    font-size: 24px;
    color: $accent;
    letter-spacing: normal;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__cards {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 24px;
  }
  &__card {
    &--upload,
    &--latency {
      max-width: 260px;
      width: 100%;
    }
    &--download {
      max-width: 418px;
      width: 100%;
    }
  }

  &__card-inner {
    position: relative;
    padding-top: 37px;
    width: 100%;
    &--upload,
    &--latency {
      max-width: 260px;
      width: 100%;
    }
  
    &--download {
      max-width: 418px;
      width: 100%;
    }
  }

  &__card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 72px;
    height: 72px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 24px;
    padding: 10px;
    z-index: 3;

    &.blur-plate {
      background: linear-gradient(75.18deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.06) 100%);
      backdrop-filter: none;
    }

    &.blur-plate::after {
      border-radius: 24px;
      padding: 1px;
      background: linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%),
        linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
    }
  }

  &__card-icon-sub-wrap {
    width: 100%;
    height: 100%;
    border-radius: 14px;
    padding: 10px;

    &.blur-plate {
      backdrop-filter: none;
      background: linear-gradient(75.18deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.06) 100%);
    }

    &.blur-plate::after {
      border-radius: 14px;
      padding: 1px;
      background: linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%), linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
    }
  }

  &__card-icon-box {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 32px 0px #FFD70099;
    background-color: $accent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark;
  }
}

.metric-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 32px;
  overflow: hidden;
  position: relative;

  &.blur-plate {
    &::after {
      border-radius: 32px;
      padding: 1px;
    }
  }

  &--upload,
  &--latency {
   // max-width: 260px;
   // width: 260px;
    padding: 50px 24px 16px;

    &.blur-plate::after {
      background: linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%),
        linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%);
    }
  }

  &--download {
   // max-width: 418px;
   // width: 418px;
    padding: 58px 53px 29px;

    .metric-card__value-num {
      font-size: 32px;
    }

    &.blur-plate::after {
      background: linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%),
        linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%);
    }
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 56px;

    &--download {
      margin-bottom: 87px;
    }
  }

  &__label {
    font-weight: 700;
    color: $light;
    font-size: 24px;
    margin-bottom: 6px;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;

    &--download {
      font-size: 32px;
    }
  }


  &__value-num {
    font-weight: 700;
    font-size: 24px;
    color: $accent;
    margin-bottom: 2px;
    display: inline-block;

    &--download {
      font-size: 32px;
    }
  }

  &__value-name {
    font-size: 16px;
  }

  &__progress-box {
    position: absolute;
    width: 100%;
    bottom: -4px;
  }

  &__progress-line {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .metrics {
    &__cards {
      flex-wrap: wrap;
    }

    &__card {

      &--download,
      &--upload,
      &--latency {
        display: flex;
        align-items: center;
      }

      &--download {
        order: 1;
        max-width: 100%;
        width: 100%;
        justify-content: center;
      }

      &--upload {
        order: 2;
        flex: 1 1 260px;
        margin-left: auto;
        justify-content: flex-end;
        max-width: calc((100% - 24px) / 2);
      }

      &--latency {
        order: 2;
        flex: 1 1 260px;
        margin-right: auto;
        justify-content: flex-start;
        max-width: calc((100% - 24px) / 2);
      }
    }
  }
}

@media(max-width:768px) {
  .metrics {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: -643px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 1440px;
      width: 100%;
      height: 816px;
      z-index: -999;
    }

    &::before {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../images/bg/alien-canyon-tab.jpg");

      @supports (background-image: url("data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAGF2aWZt")) {
        background-image: url("../images/bg/alien-canyon-tab.avif");
      }
    }

    &::after {
      background: linear-gradient(180deg, rgba(11, 18, 23, 0) 30%, #0B1217 100%), linear-gradient(0deg, rgba(11, 18, 23, 0) 0%, #0B1217 100%), linear-gradient(90deg, rgba(11, 18, 23, 0) 79%, #0B1217 100%), linear-gradient(-90deg, rgba(11, 18, 23, 0) 79%, #0B1217 100%);
    }
  }
}

@media (max-width: 576px) {
  .metrics {
    &::before {
      background-image: url("../images/bg/alien-canyon-mob.jpg");

      @supports (background-image: url("data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAGF2aWZt")) {
        background-image: url("../images/bg/alien-canyon-mob.avif");
      }
    }

    &::before,
    &::after {
      bottom: -593px;
    }

    &__list {
      flex-wrap: wrap;
      gap: 30px 57px;
    }

    &__header {
      margin-bottom: 32px;
    }

    &__item-title {
      font-size: 18px;
    }

    &__item {
      &:nth-child(3) {
        min-width: 53px;
      }

      &:nth-child(4) {
        min-width: 73px;
      }

      &:last-child {
        .metrics__item-subtitle {
          text-wrap: nowrap;
        }
      }
    }

    &__item-subtitle {
      font-size: 14px;
    }

    &__cards {
      gap: 24px 16px;
    }

    &__card {

      &--upload,
      &--latency {
        flex: 0 0 171px;
      }
    }

    &__card-inner {

      &--upload,
      &--latency {
        padding-top: 30px;
      }

      &--download {
        padding-top: 36px;
        max-width: 356px;
      }
    }

    &__card-icon {

      &--upload,
      &--latency {
        width: 60px;
        height: 60px;
        padding: 8px;

        .icon {
          width: 16px;
          height: 16px;
        }
      }
    }

    &__card-icon-sub-wrap {
      padding: 8px;

      &--download {
        padding: 10px;
      }
    }

    &__card-icon-box {
      padding: 6px;
    }
  }

  .metric-card {
    &--download {
      padding: 51px 23px 29px;

      .metric-card__label {
        font-size: 32px;
      }

      .metric-card__progress-box svg {
        path {
          stroke-width: 16px;
        }
      }
    }

    &--upload,
    &--latency {
      padding: 50px 10px 10px;
      width: 171px;
      flex: 0 0 171px;

      .metric-card__value-num {
        font-size: 18px;
      }

      .metric-card__value-name {
        font-size: 14px;
      }

      .metric-card__progress-line {
        width: 100%;
      }
    }

    &__progress-box {

      &--upload,
      &--latency {
        bottom: -24px;
      }

      &--download {
        bottom: -5px;
      }
    }

    &__info {
      margin-bottom: 37px;

      &--download {
        margin-bottom: 87px;
      }
    }

    &__label {
      font-size: 22px;
    }

    &__note {
      font-size: 14px;
    }
  }
}

@media (max-width: 389px) {
  .metrics {

    &__cards {
      gap: 24px 12px;
      justify-content: center;
      align-items: center;
    }

    &__card {

      &--upload,
      &--latency {
        flex: 168px;
        max-width: 100%;
      }
    }
  }

  .metric-card {

    &--upload,
    &--latency {
      padding: 50px 10px 10px;
      width: 168px;
      flex: 0 0 168px;
      /*       .metric-card__progress-line {
        path {
          stroke-width: 10px;
        }
      } */
    }

    &--download {
      .metric-card__progress-box svg {
        path {
          stroke-width: 20px
        }
      }
    }

    &__progress-box {

      &--upload,
      &--latency {
        bottom: -26px;
      }

      &--download {
        bottom: -24px;

      }
    }
  }
}

@media (max-width: 378px) {
  .metric-card {
    &__info--download {
      margin-bottom: 57px;
    }

    &--upload,
    &--latency {
      width: 260px;
      padding: 50px 24px 16px;

      .metric-card__value-num {
        font-size: 24px;
      }

      .metric-card__value-name {
        font-size: 16px;
      }
    }

    &--download {
      padding-bottom: 18px;
    }
    &__progress-box {

      &--upload,
      &--latency {
        bottom: -4px;
      }
      &--download {
        bottom: -34px;

      }
    }

    &__label {
      font-size: 24px;
    }

    &__info {
      margin-bottom: 56px;
    }

    &__note {
      font-size: 16px;
    }

  }

  .metrics__card--upload,
  .metrics__card--latency {
    justify-content: center;
    margin: 0;
  }
}