.network {
  padding: 50px 0 51px;
  background-image: url('../images/network/world-map.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  &__inner {
    padding: 0 54px;
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 48px;
    padding: 0 47px;
  }
  &__title {
    max-width: 478px;
    width: 100%;
    text-align: left;
  }
  &__location-box {
    font-weight: 700;
    .countries__item.blur-plate {
      padding: 10px;
      &::after {
      background: linear-gradient(227.43deg, rgba(255, 215, 0, 0) 65.44%, rgba(255, 215, 0, 0.439216) 100%), linear-gradient(47.67deg, rgba(255, 215, 0, 0) 67.58%, rgba(255, 215, 0, 0.6) 100.69%);
      }
    }
    .countries__icon {
      width: 32px;
      height: 32px;
    }
  }
  &__location-label {
    font-size: 18px;
    margin-bottom: 8px;
  }
}

.countries {
  max-width: 1080px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px 13px;
  padding: 0 20px;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    &.blur-plate {
      border-radius: 12px;
      &::after {
          border-image-source: linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%), linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%);
      }
    }
  }
  &__name {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .network {
    &__inner {
      padding: 0 16px;
    }
    &__head {
      justify-content: center;
      margin-bottom: 58px;
    }
    &__title {
      text-align: center;
      max-width: 100%;
      margin-bottom: 18px;
    }
    &__location {
      display: flex;
      align-items: center;
      gap: 24px;
    }
    &__location-label {
      margin-bottom: 0;
    }
  }
  .countries {
    padding: 0 17px;
    gap: 12px;  
  }
}