.plan {
    &__title {
        max-width: 397px;
        width: 100%;
        font-size: 80px;
        text-align: left;
    }

    &__advantages {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 41px;
        gap: 48px;
        margin-bottom: 72px;

        &-list {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-auto-flow: column;
            grid-template-rows: repeat(3, auto);
            gap: 16px 41px;
        }

        &-item {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        &-icon {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 32px;
            height: 32px;
            border-radius: 50% 0 50% 50%;

            &.blur-plate::after {
                border-radius: 50% 0 50% 50%;
                background: linear-gradient(31.35deg, rgba(255, 255, 255, 0) 63.32%, rgba(255, 255, 255, 0.6) 94.79%), linear-gradient(200.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
            }
        }

        &-text {
            letter-spacing: normal;
            font-size: 22px;
            font-weight: 700;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
    }

    &__item {
        text-align: center;
        max-width: 279px;
        width: 100%;
        position: relative;
        border-radius: 32px;
        padding: 0 23px 24px 24px;
        background: linear-gradient(75.18deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.06) 100%);

        &--popular {
            &.blur-plate::after {
                background-image: linear-gradient(-2.65deg, rgba(255, 215, 0, 0) -1.68%, #FFD700 94.79%);
            }
        }

        &::after {
            border-radius: 32px;
            background-image: linear-gradient(55.35deg, rgba(255, 255, 255, 0) 70.32%, rgba(255, 255, 255, 0.6) 94.79%), linear-gradient(232.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
        }
    }
}

@media(max-width: 1200px) {
    .plan {
        &__title {
            text-align: center;
            max-width: 100%;
            font-size: 56px;
        }

        &__advantages {
            justify-content: center;
            margin-right: 0;
        }
    }
}

@media(max-width:768px) {
    .plan {
        &__advantages {
            margin-bottom: 80px;
        }

        &__list {
            gap: 56px 24px;
        }

        &__item {
            max-width: 46%;
        }
    }
}