.plan {
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: -200px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1440px;
        width: 100%;
        height: 816px;
        z-index: -999;
    }

    &::before {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../images/bg/alien-canyon.jpg");

        @supports (background-image: url("data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAGF2aWZt")) {
            background-image: url("../images/bg/alien-canyon.avif");
        }
    }

    &::after {
        background: linear-gradient(180deg, rgba(11, 18, 23, 0) 0%, #0B1217 100%), linear-gradient(0deg, rgba(11, 18, 23, 0) 0%, #0B1217 100%), linear-gradient(90deg, rgba(11, 18, 23, 0) 79%, #0B1217 100%), linear-gradient(-90deg, rgba(11, 18, 23, 0) 79%, #0B1217 100%);
    }

    &__title {
        max-width: 397px;
        width: 100%;
        font-size: 80px;
        text-align: left;
    }

    &__advantages {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 41px;
        gap: 100px;
        margin-bottom: 72px;

        &-inner {
            display: flex;
            gap: 0 41px;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &-item {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        &-icon {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 32px;
            height: 32px;
            border-radius: 50% 0 50% 50%;

            &.blur-plate::after {
                border-radius: 50% 0 50% 50%;
                background: linear-gradient(31.35deg, rgba(255, 255, 255, 0) 63.32%, rgba(255, 255, 255, 0.6) 94.79%), linear-gradient(200.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
            }
        }

        &-text {
            letter-spacing: normal;
            font-size: 22px;
            font-weight: 700;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 56px 24px;
        justify-content: center;
    }

    &__item {
        text-align: center;
        max-width: 279px;
        width: 100%;
        position: relative;
        border-radius: 32px;
        padding: 0 23px 24px 24px;
        background: linear-gradient(75.18deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.06) 100%);

        &--popular {
            &.blur-plate::after {
                background-image: linear-gradient(-2.65deg, rgba(255, 215, 0, 0) -1.68%, #FFD700 94.79%);
            }
        }

        &::after {
            border-radius: 32px;
            background-image: linear-gradient(55.35deg, rgba(255, 255, 255, 0) 70.32%, rgba(255, 255, 255, 0.6) 94.79%), linear-gradient(232.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
        }
    }
}

@media(max-width: 1200px) {
    .plan {
        &__title {
            text-align: center;
            max-width: 100%;
            font-size: 56px;
        }

        &__advantages {
            flex-direction: column;
            justify-content: center;
            padding-right: 0;
            gap: 48px;
        }
    }
}

@media(max-width:768px) {
    .plan {
        &::before {
            display: none;
        }

        &::after {
            display: none;
        }

        &__advantages {
            margin-bottom: 80px;
        }

        &__advantages-inner {
            padding: 0 27px;
        }

        &__item {
            max-width: calc((100% - 24px) / 2);
        }
    }
}

@media(max-width:576px) {
    .plan {

        &__advantages {
            gap: 32px;
            margin-bottom: 32px;
        }

        &__list {
            flex-direction: column;
            gap: 32px;
        }

        &__item {
            padding: 20px;
            max-width: 100%;

            &::after {
                z-index: 1;
                background-image: linear-gradient(30.35deg, rgba(255, 255, 255, 0) 66.32%, rgba(255, 255, 255, 0.6) 94.79%), linear-gradient(211.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
            }
        }

        &__title {
            font-size: 40px;
        }

        &__advantages-inner {
            padding: 0;
            gap: 0 16px;
        }

        &__advantages-list {
            max-width: 171px;
            width: 100%;
        }

        &__advantages-item {
            flex-direction: column;
            justify-content: center;
            gap: 12px;
        }

        &__advantages-check {
            width: 12px;
            height: 9px;
        }

        &__advantages-icon {
            width: 28px;
            height: 28px;
        }

        &__advantages-text {
            text-align: center;
            font-size: 18px;
            line-height: 1.30;
        }
    }
}