.ready {
  position: relative;
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;

  &__inner {
    display: flex;
    justify-content: flex-start;
    padding-left: 32px;
    gap: 96px;

    &::before {
      content: '';
      position: absolute;
      width: 595px;
      height: 265px;
      background: $accent;
      -webkit-filter: blur(222px);
      filter: blur(180px);
      left: -171px;
      bottom: -109px;
      z-index: -1;
    }
  }

  &__content {
    max-width: 357px;
    width: 100%;
    padding: 64px 0 100px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: block;
    margin-bottom: 12px;
    text-align: left;
    font-weight: 500;
  }

  &__title-accent {
    color: $accent;
  }

  &__info {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 166px;
    width: 100%;
  }

  &__icon {
    max-width: 64px;
    height: auto;
    margin-bottom: 21px;
  }

  &__item-descr {
    font-size: 18px;
  }

  &__item-accent {
    display: block;
    color: $accent;
  }

  &__cta {
    gap: 6px;
  }

  &__cta-text {
    padding: 16px 32px;
  }

  &__cta-icon {
    width: 55px;
    height: 55px;
  }
}

@media(max-width: 1048px) {
  .ready {
    &__inner {
      padding: 0;
      justify-content: flex-end;
      gap: 0;
    }

    &__img-box {
      position: absolute;
      left: -18%; 
      bottom: 0;
    }
  }
}

@media(max-width: 860px) {
  .ready {
    &__inner {
      &::before {
        bottom: -36px;
        left: -369px;
      }
    }

    &__content {
      max-width: 330px;
    }

    &__img-box {
      left: -21%;
    }
  }
}

@media(max-width: 576px) {
  .ready {
    &__inner {
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 158px;
        background: #FFD700;
        filter: blur(122px);
        left: 0;
        bottom: -19px;
        z-index: -1;
      }
    }

    &__img {
      width: 309px;
      height: 329px;
    }

    &__title {
      text-wrap: balance;
      margin-bottom: 25px;
    }

    &__info {
      margin-bottom: 25px;
      justify-content: center;
    }

    &__item {
      align-items: center;
    }

    &__icon {
      width: 56px;
      height: 56px;
      margin-bottom: 12px;
    }

    &__item-descr {
      font-size: 16px;
    }

    &__cta {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}