.ready {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;

  &__inner {
    display: flex;
    padding: 0 0 0 34px;
    gap: 96px;

    &::before {
      content: '';
      position: absolute;
      width: 759px;
      height: 294px;
      background: #FFD700;
      filter: blur(222px);
      left: -298px;
      bottom: -109px;
      z-index: -1;
    }

    /*     &::before {
      content: "";
      position: absolute;
      background-position: 0 bottom;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      inset: 0;
      z-index: -1;

      // WebP 1x — ОСНОВНОЕ 
      background-image: url('../images/ready/ready-gradient.webp');

      // WebP 2x 
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url('../images/ready/ready-gradient-x2.webp');
      }

      // PNG fallback, если WebP не поддерживается 
      @supports not (background-image: url("data:image/webp;base64,UklGRiIAAABXRUJQVlA4IBYAAAAwAQCdASoBAAEALmk0mk0iIiIiIgBoSygA")) {
        background-image: url('../images/ready/ready-gradient.png');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url('../images/ready/ready-gradient-x2.png');
        }
      }
    } */

  }

  &__img-box {
    margin-top: auto;
  }

  &__img {
    position: relative;
  }

  &__content {
    max-width: 365px;
    width: 100%;
    padding: 64px 0 100px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: block;
    margin-bottom: 12px;
    text-align: inherit;
    font-weight: 500;
  }

  &__title-accent {
    color: $accent;
  }

  &__info {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }

  &__item {
    display: flex;
    flex-direction: column;

    &--support {
      flex: 0 0 183px;
      max-width: 183px;
      width: 100%;
    }

    &--guarantee {
      flex: 1 1 auto;
      width: 100%;
    }
  }

  &__icon {
    max-width: 64px;
    height: auto;
    margin-bottom: 21px;
  }

  &__item-descr {
    font-size: 18px;
    display: flex;
    flex-direction: column;
  }

  &__item-accent {
    display: block;
    color: $accent;
  }

  &__cta {
    gap: 6px;
    width: max-content;
  }

  &__cta-text {
    padding: 16px 32px;
  }

  &__cta-icon {
    width: 55px;
    height: 55px;
  }

}

// ready
@media(max-width: 1080px) {
  .ready {
    &__inner {
      padding: 0;
      gap: 0px;
      justify-content: space-between;
    }
  }
}

@media(max-width: 971px) {
  .ready {
    &__inner {
      padding-right: 24px;
      justify-content: flex-end;
      gap: 0;
    }

    &__content {
      max-width: 330px;
    }

    &__img-box {
      position: absolute;
      left: -18%;
      bottom: -11px;
    }
  }
}

@media(max-width: 860px) {
  .ready {
    &__inner {
      &::before {
        left: -430px;
        /* background-size: cover;
        left: -20%;
        width: auto; */
      }
    }

    &__img-box {
      left: -21%;
    }
  }
}

@media(max-width: 767px) {
  .ready {
    &__inner {
      padding-right: 0;
      flex-direction: column-reverse;
      align-items: center;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        background: #FFD700;
        filter: blur(222px);
        left: -37px;
        bottom: -19px;
        z-index: -1;
      }

      /*     &::before {
        background-size: contain;
        left: auto;
        width: 100%;
        //  WebP 1x — ОСНОВНОЕ 
        background-image: url('../images/ready/ready-gradient-mob.webp');

        // WebP 2x 
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url('../images/ready/ready-gradient-mob-x2.webp');
        }

        //  PNG fallback, если WebP не поддерживается 
        @supports not (background-image: url("data:image/webp;base64,UklGRiIAAABXRUJQVlA4IBYAAAAwAQCdASoBAAEALmk0mk0iIiIiIgBoSygA")) {
          background-image: url('../images/ready/ready-gradient-mob.png');

          @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
            background-image: url('../images/ready/ready-gradient-mob-x2.png');
          }
        }
      } */
    }

    &__title {
      text-align: center;
    }

    &__img-box {
      position: static;
      margin-top: 0;
    }

    &__content {
      padding: 0;
      margin-bottom: 32px;
    }

    &__info {
      gap: 16px;
      justify-content: space-between;
    }

    &__item {
      align-items: center;

      &--support {
        flex: 1 1 50%;
        max-width: 171px;
        width: 100%;
      }

      &--guarantee {
        flex: 1 1 50%;
        max-width: 171px;
        width: 100%;
      }
    }

    &__item-descr {
      text-align: center;
    }

    &__cta {
      margin: 0 auto;
    }
  }
}

@media(max-width: 568px) {
  .ready {
    &__inner {
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 158px;
        background: #FFD700;
        filter: blur(122px);
        left: 0;
        bottom: -19px;
        z-index: -1;
      }
    }

    &__title {
      font-size: 40px;
      text-wrap: balance;
      margin-bottom: 25px;
    }

    &__img {
      max-width: 309px;
    }

    &__info {
      margin-bottom: 25px;
      justify-content: center;
    }

    &__item {
      align-items: center;

      &--support {
        flex: 1 1 50%;
        max-width: 171px;
        width: 100%;
      }

      &--guarantee {
        flex: 1 1 50%;
        max-width: 171px;
        width: 100%;
      }
    }

    &__icon {
      width: 56px;
      height: 56px;
      margin-bottom: 12px;
    }

    &__item-descr {
      font-size: 16px;
    }

    &__cta {
      margin: 0 auto;
    }
  }
}

@media(max-width: 390px) {
  .ready {
    &__cta-text {
      font-size: 16px;
      padding: 16px 20px;
    }

    &__cta-icon {
      width: 52px;
      height: 52px;
    }
  }
}

@media(max-width: 340px) {
  .ready {
    &__cta-text {
      font-size: 14px;
      padding: 16px 18px;
    }

    &__cta-icon {
      width: 50px;
      height: 50px;
    }
  }
}