
.reviews {
  position: relative;
  padding-bottom: 64px;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    width: 759px;
    height: 294px;
    background: #FFD700;
    filter: blur(222px);
    right: -134px;
    bottom: 0;
    z-index: -1;
  }
  &::after {
    position: absolute;
    content: '';
    background: linear-gradient(180deg, rgba(11, 18, 23, 0) 0%, #0B1217 100%);
    width: 100%;
    height: 362px;
    left: 0;
    bottom: 0;
  }
  &__title {
    width: max-content;
    display: block;
    margin: 0 auto 48px auto;
  }
  &__title-accent {
    color: $accent;
  }
  &__inner {
    max-width: 1034px;
    margin: 0 auto 48px auto;
    position: relative;
    display: flex;
  }
  &__img {
    position: absolute;
    max-width: 593px;
    top: 18px;
    right: 0;
  }
  &__slider-wrapper {
    
  }

  /* stats */

  &__stats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  &__stat {
    max-width: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 16px 24px 16px 16px;
    border-radius: 24px;
    &.blur-plate {
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border-radius: 24px;
      background: linear-gradient(75.18deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.06) 100%);
      &::after {
        padding: 1px;
        background: linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%),linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%);
      }
    }
  }
  &__stat-img {
    width: 64px;
    height: 64px;
  }
  &__stat-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
  }
  &__stat-num {
    color: $accent;
    font-size: 24px;
    font-weight: 700;
  }
  &__stat-name {
    font-size: 18px;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border-radius: 14px;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid transparent;
    
    &--prev {
   
      bottom: 0;
      top: auto;
      .icon {
        transform: rotate(180deg);
      }
    }
    &--next {
      
    }
    &.blur-plate {
      background: linear-gradient(75.18deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.06) 100%);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
    &::after {
      border-radius: 14px;
      padding: 1px;
      background: linear-gradient(255.18deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.02) 100%);
      transition: .3s;
     }
   }
   .icon {
    fill: $light;
   }
   &:hover {
    transition: .3s;
    &.blur-plate {
      background: linear-gradient(231.87deg, rgba(255, 255, 255, 0.18) -30.13%, rgba(255, 255, 255, 0.03) 57.05%, rgba(255, 255, 255, 0.12) 137.89%);
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
  
      &::after {
        padding: 1px;
        border-image-source: linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%),linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%);
      }
    }
    .icon {
      fill: $accent;
    }
   }
   &:active {
    transition: .3s;
    &.blur-plate {
      background: linear-gradient(231.87deg, rgba(255, 255, 255, 0.18) -30.13%, rgba(255, 255, 255, 0.03) 57.05%, rgba(255, 255, 255, 0.12) 137.89%);
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
      &::after {
        padding: 1px;
      background: linear-gradient(227.43deg, rgba(255, 215, 0, 0) 65.44%, #FFD700 100%),
        linear-gradient(47.67deg, rgba(255, 215, 0, 0) 67.58%, #FFD700 100.69%);
      }
    }
   }
   &:focus {
    transition: .3s;
    outline: 1px solid $accent;
    &.blur-plate {
     background: linear-gradient(231.87deg, rgba(255, 255, 255, 0.18) -30.13%, rgba(255, 255, 255, 0.03) 57.05%, rgba(255, 255, 255, 0.12) 137.89%);
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
  
      &::after {
        padding: 1px;
        background:  linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%),linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%);
      }
    }
   }
  }
  &__slider {
    max-width: 380px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 48px 0 48px;
  }
}

.review-card {
  &__inner {
    padding: 24px;
    border-radius: 32px;
    &.blur-plate {
      background: linear-gradient(75.18deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.06) 100%);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      &::after {
        padding: 1px;
        border-radius: 32px;
        background: linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%), linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
      }
    }
  }
  &__header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
  }
  &__avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
  }
  &__user-name {
    font-weight: 700;
    font-size: 18px;
  }

  &__user-location {
    opacity: .6;
  }
  &__rating {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
  }
  &__rating-star {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }
  &__text {
    font-size: 18px;
  }
}

.swiper-wrapper {
  height: 346px;
}
.swiper-slide {
  width: 380px;
  height: auto;
  transform: scale(0.84);
  opacity: 0.01;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide-prev,
.swiper-slide-next {
  transform: scale(0.84);
  opacity: 0.5;
  filter: none;
}

.swiper-slide-active {
  transform: scale(1);
  opacity: 1;
  filter: none;
}

@media (max-width: 1024px) {
  .reviews {
    &::before {
      display: none;
    }
    &__inner {
      justify-content: center;
      max-width: 100%;
      width: 100%;
    }
    &__slider {
      justify-content: center;
      max-width: 704px;
      width: 100%;
      padding: 0 80px 0 80px;
    }
    &__img {
      display: none;
    }
    &__nav {
      left: 0;
      top: auto;
      bottom: auto;
      .icon {
        transform: rotate(-90deg);
      }
      &.blur-plate {
        top: 50%;
        transform: translate(0, -50%);
      }
      &--next {
        right: 0;
        left: auto;
        .icon {
          transform: rotate(90deg);
        }
      }
    }
  }
  .swiper-wrapper {
    height: auto;
 
  }
  .swiper-slide {
    height: auto;
  }
}
@media (max-width: 992px) {
  .reviews {
    &__stat {
      flex-direction: column;
      padding: 16px 24px;
    }
    &__stat-content {
      align-items: center;
    }
  }
}