.reviews {
  padding-bottom: 78px;

  &__wrapper {
    position: relative;
    overflow: hidden;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 64px;

    &::before {
      content: '';
      position: absolute;
      width: 759px;
      height: 294px;
      background: $accent;
      filter: blur(222px);
      right: -174px;
      bottom: -18px;
      z-index: -1;
    }

    &::after {
      position: absolute;
      content: '';
      background: linear-gradient(180deg, rgba(11, 18, 23, 0) 0%, $dark 100%);
      width: 100%;
      height: 362px;
      left: 0;
      bottom: -2px;
      z-index: -1;
    }
  }


  &__title {
    margin-bottom: 48px;
  }

  &__title-accent {
    color: $accent;
  }

  &__inner {
    max-width: 1034px;
    margin: 0 auto 48px auto;
    position: relative;
    display: flex;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 7px;
    z-index: -1;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border-radius: 14px;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    outline-offset: 6px;
    border: 1px solid transparent;
    color: $light;
    transition: color .3s, box-shadow .3s;

    &--prev {
      bottom: 0;
      top: auto;

      .reviews__nav-icon {
        transform: rotate(180deg);
      }
    }

    &.blur-plate {
      transition: all .3s;
      background: linear-gradient(231.87deg, rgba(255, 255, 255, 0.18) -30.13%, rgba(255, 255, 255, 0.03) 57.05%, rgba(255, 255, 255, 0.12) 137.89%);

      &::after {
        border-radius: 14px;
        padding: 1px;
        background: linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%), linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%);
      }
    }
  }

  &__nav--next.blur-plate,
  &__nav--prev.blur-plate {
    transition: all .3s;

    &:hover {
      color: $accent;
    }

    &:active {
      color: $accent;

      &::after {
        background: linear-gradient(227.43deg, rgba(255, 215, 0, 0) 65.44%, $accent 100%),
          linear-gradient(47.67deg, rgba(255, 215, 0, 0) 67.58%, $accent 100.69%);
        ;
      }
    }

    &:focus {
      outline: 1px solid $accent;

      .reviews__nav-icon {
        color: $light;
      }

      &::after {
        background: linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%), linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%);
      }
    }
  }


  &__slider {
    max-width: 380px;
    width: 100%;
    height: 442px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 72px 0 72px;
    margin-left: 15px;
  }

  &__stats {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 24px;
  }

  &__stat {
    max-width: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 16px 24px 16px 16px;
    border-radius: 24px;

    &.blur-plate {
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border-radius: 24px;
      background: linear-gradient(75.18deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.06) 100%);

      &::after {
        border-radius: 24px;
        padding: 1px;
        background: linear-gradient(198.43deg, rgba(255, 255, 255, 0) 67.5%, rgba(255, 255, 255, 0.6) 100%),
          linear-gradient(18.67deg, rgba(255, 255, 255, 0) 70.5%, rgba(255, 255, 255, 0.6) 100.69%);
      }
    }
  }

  &__stat-img {
    width: 64px;
    height: 64px;
  }

  &__stat-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
  }

  &__stat-num {
    color: $accent;
    font-size: 24px;
    font-weight: 700;
  }

  &__stat-name {
    font-size: 18px;
  }
}

.review-card {
  &__inner {
    padding: 24px;
    border-radius: 32px;
    
    &.blur-plate {
      background: linear-gradient(75.18deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.06) 100%);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
          /* Только Firefox */
      @-moz-document url-prefix() {
        &.blur-plate {
          background-color: rgba($color: $dark, $alpha: .8);
        }
      }
      
      &::after {
        padding: 1px;
        border-radius: 32px;
        background: linear-gradient(28.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%),
          linear-gradient(227.43deg, rgba(255, 255, 255, 0) 77.44%, rgba(255, 255, 255, 0.6) 100%)
      }
    }

  }


  &__header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
  }

  &__avatar {
    border-radius: 50%;
    overflow: hidden;
  }

  &__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
  }

  &__user-name {
    font-weight: 700;
    font-size: 18px;
  }

  &__user-location {
    opacity: .6;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
  }

  &__rating-star {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    font-size: 18px;
  }
}

.swiper-slide {
  width: 100%;
  height: 100%;
  opacity: 0.01;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.5;
  filter: none;

  .review-card__inner.blur-plate {
    backdrop-filter: blur(16.5px);
  }
}

.swiper-slide-active {
  transform: scale(1);
  opacity: 1;
  filter: none;

  .review-card__inner.blur-plate {
    backdrop-filter: blur(20px);
  }
}

@media (max-width: 1064px) {
  .reviews {
    padding-bottom: 62px;

    &__wrapper {
      padding: 0;

      &::before,
      &::after {
        display: none;
      }
    }

    &__inner {
      justify-content: center;
      max-width: 100%;
      width: 100%;
    }

    &__slider {
      justify-content: center;
      max-width: 704px;
      width: 100%;
      height: auto;
      padding: 0 80px 0 80px;
      margin-left: 0;
    }

    &__img {
      display: none;
    }

    &__nav {
      left: 0;
      top: auto;
      bottom: auto;

      .reviews__nav-icon {
        transform: rotate(-90deg);
      }

      &.blur-plate {
        top: 50%;
        transform: translate(0, -50%);
      }

      &--next {
        right: 0;
        left: auto;

        .reviews__nav-icon {
          transform: rotate(90deg);
        }
      }
    }
  }

  .swiper-slide {
    width: 380px;
  }

  .swiper-slide-active {
    .review-card__inner.blur-plate {
      backdrop-filter: blur(10px);
    }
  }

  .review-card {
    &__inner.blur-plate {
      &::after {
        background: linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%), linear-gradient(207.43deg, rgba(255, 255, 255, 0) 66.44%, rgba(255, 255, 255, 0.6) 100%);
      }
    }
  }
}

@media (max-width: 992px) {
  .reviews {
    &__stat {
      flex-direction: column;
      padding: 16px 24px;
      max-width: 210px;

      &.blur-plate {
        &::after {
          background: linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%),
            linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%);
        }
      }
    }

    &__stat-content {
      align-items: center;
    }

    &__stat-img {
      width: 48px;
      height: 48px;
    }
  }
}

@media (max-width: 767px) {
  .reviews {
    &__title {
      margin-bottom: 32px;
    }

    &__inner {
      margin-bottom: 32px;
    }

    &__slider {
      max-width: 358px;
      width: 100%;
      height: 340px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 0 68px 0;
    }

    &__nav-panel {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }

    &__nav {
      left: auto;
      top: auto;
      bottom: 0;
      position: static;
      width: 44px;
      height: 44px;

      .reviews__nav-icon {
        transform: rotate(180deg);
      }

      &.blur-plate {
        top: auto;
        transform: translate(0, 0);
      }

      &--next {
        right: 0;
        left: auto;

        .reviews__nav-icon {
          transform: rotate(0);
        }
      }
    }

    &__stat-name {
      text-align: center;
    }
  }

  .swiper-slide {
    width: 100%;
  }

  .review-card {
    &__inner {
      padding: 18px;
    }

    &__rating {
      margin-bottom: 12px;
    }

    &__text {
      font-size: 16px;
    }
  }
}

@media (max-width: 576px) {
  .reviews {
    padding-bottom: 50px;

    &__stats {
      gap: 16px;
    }

    &__stat {
      padding: 16px;
      gap: 12px;

      &.blur-plate {
        &::after {
          background: linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%),
            linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%);
        }
      }
    }

    &__stat-img {
      width: 48px;
      height: 48px;
    }

    &__stat-num {
      font-size: 22px;
    }

    &__stat-name {
      font-size: 14px;
    }
  }
  .reviews-slider {
    touch-action: auto;
  }

  .swiper-slide-active {
    .review-card__inner.blur-plate {
      backdrop-filter: blur(20px);
    }
  }

  .review-card {
    &__header {
      margin-bottom: 12px;
    }
  }
}

@media (max-width: 389px) {
  .reviews {
    &__stats {
      flex-wrap: wrap;
    }

    &__stat {
      flex-direction: column;
      padding: 10px;
    }

    &__stat-num {
      font-size: 18px;
    }
  }

  .review-card {
    &__inner {
      &.blur-plate {
        background: linear-gradient(75.18deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.06) 100%);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
      }
    }
  }
}