.steps {
    padding-top: 128px;
    text-align: center;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -197px;
        transform: translateX(-50%);
        max-width: 1440px;
        height: 629px;
        width: 100%;
        z-index: -999;
    }

    &::before {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../images/bg/futuristic-valley.jpg");

        @supports (background-image: url("data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAGF2aWZt")) {
            background-image: url("../images/bg/futuristic-valley.avif");
        }
    }

    &::after {
        max-width: 1442px;
        background: linear-gradient(180deg, rgba(11, 18, 23, 0) 0%, #0B1217 100%), linear-gradient(0deg, rgba(11, 18, 23, 0) 0%, #0B1217 100%), linear-gradient(90deg, rgba(11, 18, 23, 0) 79%, #0B1217 100%), linear-gradient(-90deg, rgba(11, 18, 23, 0) 79%, #0B1217 100%);
    }

    &__container {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 160px;
            left: 50%;
            transform: translateX(-50%);
            max-width: 1188px;
            width: 100%;
            height: 1188px;
            border: 1px solid $light-opacity-06;
            border-radius: 50%;
            z-index: -1;
        }
    }

    &__title {
        max-width: 313px;
        width: 100%;
        margin: 0 auto 80px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 363px;
            height: 127px;
            background-color: $accent;
            top: 50%;
            left: 50%;
            opacity: 0.9;
            z-index: -1;
            transform: translate(-50%, -50%);
            filter: blur(117px);
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 48px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        padding: 0 24px 24px 24px;
        max-width: 320px;
        width: 100%;
        border-radius: 24px;

        &::after {
            border-radius: 24px;
            padding: 1px;
        }

        &:nth-child(1),
        &:nth-child(3) {
            transform: translateY(-95px);
        }
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: normal;
        margin-bottom: 12px;
    }

    &__description {
        font-size: 18px;
        letter-spacing: 0.36px;
        line-height: 1.28;
    }

    &__link {
        text-decoration: underline;
        border-radius: 4px;
        outline-offset: 2px;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.8;
        }

        &:focus {
            outline: 1px solid $accent;
        }

        &:active {
            opacity: 0.6;
        }
    }

    &__number {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -36px auto 12px;
        order: -1;
        width: 72px;
        height: 72px;
        border-radius: 24px;
        font-size: 20px;
        color: $dark;
        font-weight: 700;
        z-index: -2;
        background-color: transparent;
        backdrop-filter: none;

        &.blur-plate::after {
            border-radius: 24px;
            background: linear-gradient(48.35deg, rgba(255, 255, 255, 0) 69.32%, rgba(255, 255, 255, 0.6) 94.79%), linear-gradient(222.43deg, rgba(255, 255, 255, 0) 61.44%, rgba(255, 255, 255, 0.6) 100%);
        }

        &::before {
            content: "";
            position: absolute;
            border-radius: 8px;
            width: 32px;
            height: 32px;
            z-index: -1;
            background-color: $accent;
            box-shadow: 0 0 32px $accent;
        }

        &-box {
            padding: 0;
            line-height: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 52px;
            height: 52px;
            flex-shrink: 0;
            background-color: transparent;
            backdrop-filter: none;

            &::after {
                background: linear-gradient(48.35deg, rgba(255, 255, 255, 0) 69.32%, rgba(255, 255, 255, 0.6) 94.79%), linear-gradient(222.43deg, rgba(255, 255, 255, 0) 61.44%, rgba(255, 255, 255, 0.6) 100%);
            }
        }
    }
}

@media(max-width:768px) {
    .steps {
        padding-top: 112px;

        &::before {
            background-image: url("../images/bg/futuristic-valley-tab.jpg");

            @supports (background-image: url("data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAGF2aWZt")) {
                background-image: url("../images/bg/futuristic-valley-tab.avif");
            }
        }

        &::after {
            background: linear-gradient(180deg, rgba(11, 18, 23, 0) 20%, #0B1217 100%), linear-gradient(0deg, rgba(11, 18, 23, 0) 20%, #0B1217 100%);
        }

        &__title {
            margin-bottom: 95px;
        }

        &__list {
            gap: 22px;
        }

        &__item {
            max-width: 32%;

            &::after {
                background: linear-gradient(52.35deg, rgba(255, 255, 255, 0) 70.32%, rgba(255, 255, 255, 0.6) 94.79%), linear-gradient(226.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
            }
        }
    }
}

@media(max-width:576px) {
    .steps {
        padding-top: 80px;

        &::before {
            background-image: url("../images/bg/futuristic-valley-mob.jpg");

            @supports (background-image: url("data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAGF2aWZt")) {
                background-image: url("../images/bg/futuristic-valley-mob.avif");
            }
        }

        &::before,
        &::after {
            bottom: -242px;
        }

        &__container {
            &::before {
                display: none;
            }
        }

        &__title {
            margin-bottom: 32px;

            &::after {
                width: 298px;
                height: 105px;
                filter: blur(58px);
                opacity: .5;
            }
        }

        &__list {
            flex-direction: column;
            gap: 16px;
            padding: 0;
        }

        &__item {
            padding: 16px;
            flex-direction: row;
            align-items: center;
            max-width: 100%;
            gap: 16px;

            &::after {
                background: linear-gradient(18.35deg, rgba(255, 255, 255, 0) 67.32%, rgba(255, 255, 255, 0.6) 94.79%), linear-gradient(198.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
            }

            &:nth-child(1),
            &:nth-child(3) {
                transform: translateY(0);
            }
        }

        &__info {
            text-align: left;
        }

        &__subtitle {
            margin-bottom: 4px;
            font-size: 22px;
        }

        &__description {
            font-size: 16px;
        }

        &__number {
            margin: 0;
        }
    }
}