.breadcrumbs {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    padding-right: 32px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-image: url('../images/chevron-breadcrumbs.svg');
      width: 16px;
      height: 16px;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      padding-right: 0;

      &::after {
        display: none;
      }
    }
  }

  &__link {
    position: relative;
    border-bottom: 1px solid transparent;
    outline-offset: 3px;
    transition: color 0.3s, border-color 0.3s, outline 0.3s;

    &:hover {
      color: $accent;

      &::before {
        left: -25px;
      }

      &::after {
        right: -25px;
      }
    }

    &:active {
      color: $accent;
      border-color: $accent;
    }

    &:focus {
      border-radius: 3px;
      outline: 1px solid $accent;
    }
  }
}

@media(max-width: 576px) {
  .breadcrumbs {
    &__item {
      padding-right: 22px;

      &::after {
        width: 14px;
        height: 14px;
        right: 4px;
      }
    }

    &__link {
      font-size: 14px;
    }
  }
}