html[dir="rtl"] {
  .cookie {
    &__cookie-img {
      margin-right: 0;
      margin-left: 12px;
    }

    &__content {
      margin-left: auto;
      margin-right: 0;
      padding-left: 10px;
      padding-right: 0;
    }

    &__text--bold {
      padding-right: 0;
      padding-left: 4px;
    }

    &__accept {
      padding: 11px 42px;
    }
  }

  @media (max-width: 992px) {
    .cookie {
      &__content {
        padding-left: 64px;
      }
      &__accept {
        padding: 11px 28.5px;
      }
    }
  }

  @media (max-width: 576px) {
    .cookie {
      left: auto;
      right: 12px;
      transform: translateX(0);
      &__content {
        padding-left: 32px;
      }
      &__text {
        text-wrap: balance;
      }

      &__text--bold {
        padding-left: 0;
      }
    }
  }

  @media (max-width: 365px) {
    .cookie {
      &__content {
        padding-left: 0;
      }

      &__actions {
        max-width: 100%;
      }

      &__accept {
        max-width: 50%;
      }
    }
  }
}