.cookie {
  position: fixed;
  left: 50%;
  bottom: 24px;
  transform: translateX(-50%);
  max-width: 1010px;
  width: 100%;
  padding: 8px 0;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease, transform .3s ease;

  &.is-visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0);
  }

  &__inner {
    display: flex;
    align-items: center;

    &.blur-plate {
      padding: 8px;
      background: linear-gradient(75.18deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.06) 100%);

      &::after {
        padding: 1px;
        border-radius: 20px;
        background: linear-gradient(185.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%),linear-gradient(5.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%), 
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 12px;
    margin-right: auto;
    padding-right: 10px;
  }
  &__title {
    font-weight: 700;
  }

  &__cookie-img {
    width: 44px;
    height: 44px;

    &.blur-plate {
      padding: 10px;
      background: linear-gradient(231.87deg, rgba(255, 255, 255, 0.18) -30.13%, rgba(255, 255, 255, 0.03) 57.05%, rgba(255, 255, 255, 0.12) 137.89%);
      &::after {
        padding: 1px;
        background: linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%), linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%);
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__accept {
    padding: 11px 30px 11px;
    font-size: 18px;
    font-weight: 700;
    color: $dark;
    background-color: $accent;
    letter-spacing: normal;
    outline-offset: 5px;
    cursor: pointer;
    border-radius: 16px;
    transition: box-shadow 0.3s, outline 0.3s;
    &:hover {
      box-shadow: 0 0 32px $accent-opacity-60;
    }
  
    &:focus {
      outline: 1px solid $accent;
    }
    
    &:active {
      background-color: $accent-900;
    }
  }

  &__close {
    width: 44px;
    height: 44px;
    border-radius: 14px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    outline-offset: 2px;
    transition: color 0.3s, box-shadow 0.3s, border-color 0.3s;
    
    &.blur-plate {
      color: $light;
      padding: 6px;
      background: linear-gradient(231.87deg, rgba(255, 255, 255, 0.18) -30.13%, rgba(255, 255, 255, 0.03) 57.05%, rgba(255, 255, 255, 0.12) 137.89%);

      &::after {
        border-radius: 14px;
        padding: 1px;
        background: linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%), linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%);
      }

      &:hover {
        color: $accent;
      }
  
      &:active {
        color: $accent;
  
        &::after {
          background: linear-gradient(227.43deg, rgba(255, 215, 0, 0) 65.44%, $accent 100%),
            linear-gradient(47.67deg, rgba(255, 215, 0, 0) 67.58%, $accent 100.69%);
        }
      }
  
      &:focus {
        outline: 1px solid $accent;
        color: $light;
        &::after {
          background: linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%), linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%);
        }
      }
    }

  }

}

@media (max-width: 1200px) {
  .cookie {
    max-width: calc(100% - 30px);
  }
}

@media (max-width: 992px) {
  .cookie {
    &__inner {
      &.blur-plate {
        padding: 16px;
        backdrop-filter: blur(20px);
      }
    }
    &__cookie-img.blur-plate {
      backdrop-filter: blur(20px);
    }
    &__content {
      padding-right: 120px;
    }
    &__title {
      font-size: 16px;
      margin-bottom: 4px;
    }
    &__text {
      font-size: 14px;
    }
    &__accept {
      padding: 11px 14px 11px;
    }
  }
}

@media (max-width: 576px) {
  .cookie {
    &__content {
        padding-right: 26px;
      }
    
      &__actions {
        flex-direction: column;
      }  
      &__close {
        width: 100%;
      }
  }
}
@media (max-width: 365px) {
  .cookie {
    &__inner{
      flex-direction: column;
    }
    &__content {
      margin: 12px 0 32px 0;
    }
    &__actions {
      flex-direction: row;
      width: 100%;
    }
    &__accept,
    &__close {
      width: 50%;
    }
  }
}

html[dir="rtl"] {
  .cookie__content {
    margin-left: auto;
    margin-right: 12px;
  }
}