.footer {
  padding: 32px 0 32px; 
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    flex-wrap: wrap;
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 0;
  }
  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__menu-link {
    font-weight: 700;
    outline-offset: 6px;
    border-radius: 12px;
    padding: 6px;
    transition: color 0.3s, outline 0.3s;
    &:hover{
      color: $accent;
    }
    &:active{
      color: $accent;
      text-decoration: underline;
    }
    &:focus{
      outline: 1px solid $accent;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 24px;
  }
  &__conacts {
    display: flex;
    align-items: center;
    gap: 42px;
  }
  &__contact {
    color: $light;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: $accent;
    text-decoration: underline;
    font-weight: 400;
    font-size: 16px;
    
    &:active {
      text-decoration: none;
    }
    &.cta {
      border-radius: 10px;
    }
  }
  &__contact-icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
  &__social-list {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__social-link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 10px;
    background-color: $accent;
    transition: background-color 0.3s, box-shadow 0.3s;
    outline-offset: 5px;
    &:hover {
      box-shadow: 0 0 32px $accent-opacity-60;
    }
    &:focus {
      outline: 1px solid $accent;
    }
    &:active {
      background-color: $accent-900;
    }
    &--transparent {
      background-color: transparent;
      transition: background-color 0.3s, box-shadow 0.3s;

      &:active {
         background-color: $dark;
        opacity: .7;
      }
    }
  }
  &__bottom {
    padding-top: 24px;
    text-align: center;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 1px;
      background-color: $light;
      opacity: 0.06; 
    }
  }
}

@media (max-width: 992px) {
  .footer {
    &__info {
     flex-direction: column; 
      gap: 24px;
    }
    &__top {
      flex-direction: column; 
      gap: 18px;
      margin-bottom: 18px;
    }

  }
}

@media (max-width: 576px) {
  .footer {
    &__contact {
      flex-direction: column;
      text-align: center;
    }
    &__top {
      gap: 26px;
      margin-bottom: 26px;
    }
    &__info {
      margin-bottom: 32px;
    }
    &__bottom {
      padding-top: 32px;
    }
    &__copyright {
      font-size: 14px;
    }
  }
}