.go-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  border-radius: 20px;
  width: 48px;
  height: 48px;
  position: fixed;
  bottom: 34px;
  right: 32px;
  border: 1px solid transparent;
  transition: all .3s;
  opacity: 0;
  pointer-events: none;

  svg.icon {
    transform: rotate(180deg);
  }

  &.blur-plate {
    &::after {
      border-radius: 20px;
    }
  }

  &:hover {
    svg.icon {
      transition: all .3s;
     // fill: $light-900;
    }
  }

  &:active {
   // border-color: $light-900;

    svg.icon {
      transition: all .3s;
      //fill: $light-900;
    }
  }

  &:focus {
    backdrop-filter: blur(16px);
    box-shadow: 0px 0px 16px 0px #3DDC84BF;

    svg.icon {
      transition: all .3s;
      fill: $light;
    }
  }

  &--active {
    opacity: 1;
    pointer-events: all;
  }
}