.go-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 14px;
  width: 48px;
  height: 48px;
  position: fixed;
  bottom: 32px;
  right: 32px;
  border: 1px solid transparent;
  transition: all .3s;
  opacity: 0;
  pointer-events: none;
  outline-offset: 5px;
  z-index: 999;

  &.blur-plate {
    background: linear-gradient(231.87deg, rgba(255, 255, 255, 0.18) -30.13%, rgba(255, 255, 255, 0.03) 57.05%, rgba(255, 255, 255, 0.12) 137.89%);

    &::after {
      border-radius: 14px;
      padding: 1px;
      background: linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%), linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%);
    }
  }

  &:hover {
    color: $accent;
  }

  &:active {
    color: $accent;

    &::after {
      background: linear-gradient(227.43deg, rgba(255, 215, 0, 0) 65.44%, $accent 100%),
        linear-gradient(47.67deg, rgba(255, 215, 0, 0) 67.58%, $accent 100.69%);
    }
  }

  &:focus {
    outline: 1px solid $accent;

    &::after {
      background: linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%), linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%);
    }
  }

  &--active {
    opacity: 1;
    pointer-events: all;
  }
}

@media (max-width: 992px) {
  .go-top {
    bottom: 24px;
    right: 24px;
  }
}

@media (max-width: 576px) {
  .go-top {
    bottom: 12px;
    right: 12px;
  }
}