.plan-card {
    width: 100%;
    height: 100%;

    &::before {
        content: "";
        display: block;
        width: 134px;
        height: 134px;
        margin: -31px auto 16px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
    }

    &--trial::before {
        background-image: url('../images/plan/plan-trial.png');
    }

    &--monthly::before {
        background-image: url('../images/plan/plan-monthly.png');
    }

    &--semi-annual::before {
        background-image: url('../images/plan/plan-semi-annual.png');
    }

    &--annual::before {
        background-image: url('../images/plan/plan-annual.png');
    }

    &::after {
        content: "";
        position: absolute;
        top: 65px;
        left: 36%;
        transform: translateX(-50%) rotate(29deg);
        z-index: 5;
        width: 146px;
        height: 28px;
        -webkit-filter: blur(2px);
        filter: blur(4px);
        box-shadow: 4px 4px 170px #141a1f inset;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: relative;
        margin-bottom: 16px;
    }

    &__title {
        font-size: 32px;
        font-weight: 700;
    }

    &__info-price {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    &__price {
        font-size: 24px;
        color: $accent;
        font-weight: 700;
    }

    &__badge-popular {
        position: absolute;
        top: 107px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__cta {
        gap: 6px;
    }

    &__cta-text {
        padding: 16px 35px;
    }

    &__icon {
        width: 55px;
    }
}