body {
    font-size: 16px;
    color: $light;
    font-family: "Google Sans", sans-serif;
    letter-spacing: 0.32px;
    line-height: 1.25;
    font-weight: 400;
    background-color: $dark;
    font-style: normal;
}

.container {
    max-width: 1218px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-bottom: 128px;
}

.title {
    font-size: 56px;
    font-weight: 500;
    letter-spacing: normal;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.cta {
    display: flex;
    color: $dark;
    font-size: 18px;
    gap: 4px;
    font-weight: 700;
    letter-spacing: normal;
    outline-offset: 5px;
    border-radius: 15px;
    transition: outline 0.3s;

    &__text {
        padding: 11px 16px;
        border-radius: 16px;
        background-color: $accent;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

    &__icon {
        width: 44px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        background-color: $accent;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

    &:hover {

        .cta__text,
        .cta__icon {
            box-shadow: 0 0 32px $accent-opacity-60;
        }
    }

    &:focus {
        outline: 1px solid $accent;
    }

    &:active {

        .cta__text,
        .cta__icon {
            background-color: $accent-900;
        }
    }
}

.blur-plate {
    background: linear-gradient(-114deg, $light-opacity-01 0%, $light-opacity-06 100%);
    border-radius: 16px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    z-index: 2;
    transition: box-shadow 0.3s, inset 0.3s;
    padding: 10px 12px 10px 10px;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 16px;
        padding: 1.5px;
        background: linear-gradient(27.35deg, rgba(255, 255, 255, 0) 70.32%, rgba(255, 255, 255, 0.6) 94.79%), linear-gradient(200.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
        z-index: -2;
        mask:
            linear-gradient(#fff, #fff) content-box,
            linear-gradient(#fff, #fff);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
}

.accent {
    color: $accent;
}

.icon {
    fill: currentColor;
}

@media(max-width: 768px) {
    .section {
        padding-bottom: 112px;
    }
}

@media(max-width: 576px) {
    .section {
        padding-bottom: 80px;
    }

    .title {
        font-size: 40px;
    }
}

.icon {
    fill: currentColor;
    flex-shrink: 0;
}

.main {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        max-width: 1034px;
        width: 100%;
        top: 0;
        background-image: url('../images/linear-grid.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
}
.accent-link {
  color: $accent;
  display: inline-block;
  position: relative;
  text-decoration: underline;
  border-radius: 12px;
  outline-offset: 3px;
  transition: opacity 0.3s, background-color 0.3s, color 0.3s, outline 0.3s;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 6px);
    height: calc(100% + 4px);
    border-radius: 6px;
    transform: translate(-50%, -50%);
    background-color: transparent;
    transition: background-color 0.3s;
  }

  &:hover {
    &::before {
      background-color: $light-opacity-04;
    }
  }

  &:focus {
    outline: 1px solid $accent;
  }

  &:active {
    color: $accent-800;

    &::before {
      background-color: $light-opacity-04;
    }
  }

  &:visited {
    color: $accent-800;
  }
}

@media(max-width:768px) {
    .main::before {
        background-image: url('../images/linear-grid-tab.svg');
    }
}

@media(max-width:576px) {
    .main::before {
        background-image: url('../images/linear-grid-mob.svg');
    }
}