body {
    font-size: 16px;
    color: $light;
    font-family: "Google Sans", sans-serif;
    letter-spacing: 0.32px;
    line-height: 1.25;
    font-weight: 400;
    background-color: $dark;
    font-style: normal;
}

.container {
    max-width: 1218px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-bottom: 128px;
}

.title {
    font-size: 56px;
    font-weight: 500;
    letter-spacing: normal;
    text-align: center;
}

.cta {
    display: inline-flex;
    align-items: center;
    color: $dark;
    font-size: 18px;
    gap: 4px;
    font-weight: 700;
    letter-spacing: normal;
    outline-offset: 5px;
    border-radius: 15px;
    transition: outline 0.3s;

    &__text {
        padding: 11px 16px;
        border-radius: 16px;
        background-color: $accent;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

    &__icon {
        width: 44px;
        height: 44px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        background-color: $accent;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

    &:hover {

        .cta__text,
        .cta__icon {
            box-shadow: 0 0 32px $accent-opacity-60;
        }
    }

    &:focus {
        outline: 1px solid $accent;
    }

    &:active {

        .cta__text,
        .cta__icon {
            background-color: $accent-900;
        }
    }
}

.blur-plate {
    background: linear-gradient(-114deg, $light-opacity-01 0%, $light-opacity-06 100%);
    border-radius: 16px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    z-index: 2;
    transition: box-shadow 0.3s, inset 0.3s;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 16px;
        padding: 1.5px;
        background: linear-gradient(27.35deg, rgba(255, 255, 255, 0) 70.32%, rgba(255, 255, 255, 0.6) 94.79%), linear-gradient(200.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
        z-index: -2;
        mask:
            linear-gradient(#fff, #fff) content-box,
            linear-gradient(#fff, #fff);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
}

.logo {
    outline-offset: 10px;
    border-radius: 3px;
    transition: transform 0.3s, outline 0.3s;

    &:hover {
        transform: scale(1.10);
    }

    &:focus {
        outline: 1px solid $accent;
    }

    &:active {
        transform: scale(0.98);
    }
}