$accent: #FFD700;
$accent-900: #D5B400;
$accent-opacity-60: rgba(255, 215, 0, 0.6);
$accent-opacity-00: rgba(255, 215, 0, 0);

$light: #FFFFFF;
$light-opacity-60: rgba(255, 255, 255, 0.6);
$light-opacity-06: rgba(255, 255, 255, 0.06);
$light-opacity-01: rgba(255, 255, 255, 0.01);
$light-opacity-00: rgba(255, 255, 255, 0);

$dark: #0B1217;