$accent: #FFD700;
$accent-900: #d5b400;
$accent-opacity-60: rgba(255, 215, 0, 0.6);
$accent-opacity-00: rgba(255, 215, 0, 0);

$light: #FFFFFF;
$light-opacity-60: rgba(255, 255, 255, 0.6);
$light-opacity-06: rgba(255, 255, 255, 0.06);
$light-opacity-01: rgba(255, 255, 255, 0.01);
$light-opacity-00: rgba(255, 255, 255, 0);
$light-600: #D9D9D9;
$light-300-opacity-00: rgba(115, 115, 115, 0);

$dark: #0B1217;

@mixin GoogleSans-400 {
  font-family: "Google Sans", sans-serif;
  font-weight: 400;
}

@mixin GoogleSans-500 {
  font-family: "Google Sans", sans-serif;
  font-weight: 500;
}

@mixin GoogleSans-700 {
  font-family: "Google Sans", sans-serif;
  font-weight: 700;
}