@import "reset";
@import "libs";
@import "vars";
@import "global";

@import "./index/hero";
@import "./index/steps";
@import "./index/metrics";
@import "./index/plan";
@import "./global/badges/badge-popular";
@import "./global/badges/badge-discount";
@import "./global/plan-card";
@import "./index/reviews";
@import "./index/network";
@import "./index/apps";
@import "./global/app-card";
@import "./index/faq";
@import "./index/ready";
@import "./index/indexRtl";

@import "./global/cookie";
@import "./global/go-top";


