<article class="app-card">
    <h3 class="app-card__subtitle">
        @@title
    </h3>
    <div class="app-card__links">
        <a class="app-card__link cta" href="https://t.me/ZenoVPNBot" target="_blank">
            <svg class="app-card__icon icon" width="17" height="20">
                <use href="./images/sprite.svg#apple"></use>
            </svg>
            iOS
        </a>
        <a class="app-card__link cta" href="https://t.me/ZenoVPNBot" target="_blank">
            <svg class="app-card__icon icon" width="19" height="22">
                <use href="./images/sprite.svg#android"></use>
            </svg>
            Android
        </a>
    </div>
</article>