<header class="header">
    <div class="container">
        <nav class="menu">
            <a class="logo header__logo" href="#">
                <img src="@@extraDots/images/logo.svg" alt="@@altLogo" width="176" height="47">
            </a>
            <button class="mobile-button blur-plate" type="button">
                <span class="visually-hidden">
                    @@mobileButtonAccessibility
                </span>
                <span class="mobile-button__line">
                </span>
            </button>
            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__link" href="">
                        How it Work’s
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="">
                        Pricing
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="">
                        Support
                    </a>
                </li>
            </ul>
            <div class="user-menu">
                <div class="switcher-lang">
                    <button class="switcher-lang__btn blur-plate" data-lang-switcher>
                        <svg width="24" height="24">
                            <use href="../../images/sprite.svg#flag@@srcLang"></use>
                        </svg>
                        @@langText
                        <svg class="switcher-lang__arrow" width="18" height="18">
                            <use href="../../images/sprite.svg#arrow-bottom"></use>
                        </svg>
                    </button>
                    <ul class="switcher-lang__list blur-plate" data-langs-list>
                        <li class="switcher-lang__item">
                            <a class="switcher-lang__link @@current" href="@@langHrefEn">
                                <svg class="switcher-lang__icon" width="24" height="24">
                                    <use href="../../images/sprite.svg#flagEn"></use>
                                </svg>
                                En
                            </a>
                        </li>
                        <li class="switcher-lang__item">
                            <a class="switcher-lang__link @@currentAr" href="@@langHrefAr">
                                <svg class="switcher-lang__icon" width="24" height="24">
                                    <use href="../../images/sprite.svg#flagAr"></use>
                                </svg>
                                عر
                            </a>
                        </li>
                        <li class="switcher-lang__item">
                            <a class="switcher-lang__link @@currentRu" href="@@langHrefRu">
                                <svg class="switcher-lang__icon" width="24" height="24">
                                    <use href="../../images/sprite.svg#flagRu"></use>
                                </svg>
                                Ру
                            </a>
                        </li>
                    </ul>
                </div>
                @@include('./cta.html', {
                "ctaText": "Open VPN",
                "ctaIcon": "telegram"
                })
            </div>
        </nav>
    </div>
</header>