<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        @@title
    </title>
    <link rel="icon" type="image/png" href="@@extraDots/images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="@@extraDots/images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="@@extraDots/images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="@@extraDots/images/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="ZenoVPN" />
    <link rel="manifest" href="@@extraDots/images/favicon/site.webmanifest" />

    <!-- SEO -->
    <meta name="description" content="@@metaDescription">
    <link rel="canonical" href="@@canonical">

    <!-- cryptomus -->
    <meta name="cryptomus" content="8e67b6b7">

    <!-- Open Graph -->
    <meta property="og:title" content="@@title">
    <meta property="og:description" content="@@metaDescription">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@@canonical">
    <meta property="og:site_name" content="ZenoVPN">
    <meta property="og:image" content="https://zenovpn.com/images/preview.jpg">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="@@twitterTitle">
    <meta name="twitter:description" content="@@twitterDescription">
    <meta name="twitter:image" content="https://zenovpn.com/images/preview.jpg">

    <!-- Language -->
    <link rel="alternate" hreflang="en" href="https://zenovpn.com/">
    <link rel="alternate" hreflang="ru" href="https://zenovpn.com/ru/">
    <link rel="alternate" hreflang="ar" href="https://zenovpn.com/ar/">
    <link rel="alternate" hreflang="x-default" href="https://zenovpn.com/">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap"
        rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="@@extraDots/css/style.min.css">
</head>