<header class="header" data-header>
    <div class="container">
        <nav class="menu">
            <a class="logo header__logo" href="#">
                <img class="logo__img" src="@@extraDots/images/logo.svg" alt="@@altLogo" width="146" height="58">
                <img class="logo__img logo__img--small" src="@@extraDots/images/logo-mob.svg" alt="@@altLogo" width="70" height="58">
            </a>
            <button class="mobile-button blur-plate" type="button" data-menu-button>
                <span class="visually-hidden">
                    @@mobileButtonAccessibility
                </span>
                <span class="mobile-button__line">
                </span>
            </button>
            <ul class="menu__list blur-plate" data-menu>
                <li class="menu__item">
                    <a class="menu__link" href="">
                        How it Work’s
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="">
                        Pricing
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="">
                        Support
                    </a>
                </li>
            </ul>
            <div class="user-menu">
                <div class="switcher-lang">
                    <button class="switcher-lang__btn blur-plate" data-lang-switcher type="button">
                        <svg width="24" height="24">
                            <use href="@@extraDots/images/sprite.svg#flag@@srcLang"></use>
                        </svg>
                        <span class="switcher-lang__text">
                            @@langText          
                        </span> 
                        <svg class="switcher-lang__arrow" width="18" height="18">
                            <use href="@@extraDots/images/sprite.svg#arrow-bottom"></use>
                        </svg>
                    </button>
                    <ul class="switcher-lang__list blur-plate" data-langs-list>
                        <li class="switcher-lang__item">
                            <a class="switcher-lang__link @@current" href="@@langHrefEn">
                                <svg class="switcher-lang__icon" width="24" height="24">
                                    <use href="@@extraDots/images/sprite.svg#flagEn"></use>
                                </svg>
                                <span class="switcher-lang__text">
                                    En
                                </span> 
                            </a>
                        </li>
                        <li class="switcher-lang__item">
                            <a class="switcher-lang__link @@currentAr" href="@@langHrefAr">
                                <svg class="switcher-lang__icon" width="24" height="24">
                                    <use href="@@extraDots/images/sprite.svg#flagAr"></use>
                                </svg>
                                <span class="switcher-lang__text">
                                    عر                  
                                </span> 
                            </a>
                        </li>
                        <li class="switcher-lang__item">
                            <a class="switcher-lang__link @@currentRu" href="@@langHrefRu">
                                <svg class="switcher-lang__icon" width="24" height="24">
                                    <use href="@@extraDots/images/sprite.svg#flagRu"></use>
                                </svg>
                                <span class="switcher-lang__text">
                                    Ру
                                </span> 
                            </a>
                        </li>
                    </ul>
                </div>
                @@include('./cta.html', {
                "ctaText": "Open VPN",
                "ctaClass": "header__cta",
                "ctaTextClass": "header__cta-text",
                "ctaWidth": "21",
                "ctaHeight": "18",
                "ctaIcon": "telegramSmall",
                "extraDots": "@@extraDots"
                })
            </div>
        </nav>
    </div>
</header>