<header class="header">
    <div class="container">
        <nav class="menu">
            <div class="header__inner">
                <a class="logo" href="#">
                    <img src="./images/logo.svg" alt="@@altLogo" width="153" height="46">
                </a>
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="">
                            How it Work’s
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="">
                            Pricing
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="">
                            Support
                        </a>
                    </li>
                </ul>
            </div>
            <div class="user-menu">
                <div class="switcher-lang">
                    <button class="switcher-lang__btn blur-plate">
                        <svg width="24" height="24">
                            <use href="../../images/sprite.svg#flag-en"></use>
                        </svg>
                        En
                        <svg width="18" height="18">
                            <use href="../../images/sprite.svg#arrow-bottom"></use>
                        </svg>
                    </button>
                    <ul class="switcher-lang__list blur-plate">
                        <li class="switcher-lang__item">
                            <a class="switcher-lang__link" href="#">
                                <svg width="24" height="24">
                                    <use href="../../images/sprite.svg#flag-en"></use>
                                </svg>
                                En
                            </a>
                        </li>
                        <li class="switcher-lang__item">
                            <a class="switcher-lang__link" href="#">
                                <svg width="24" height="24">
                                    <use href="../../images/sprite.svg#flag-ar"></use>
                                </svg>
                                عر
                            </a>
                        </li>
                        <li class="switcher-lang__item">
                            <a class="switcher-lang__link" href="#">
                                <svg width="24" height="24">
                                    <use href="../../images/sprite.svg#flag-ru"></use>
                                </svg>
                                Ру
                            </a>
                        </li>
                    </ul>
                </div>
                @@include('./cta.html', {
                "ctaLink": "https://t.me/ZenoVPNBot",
                "ctaText": "Open VPN",
                "ctaIcon": "telegram"
                })
            </div>
        </nav>
    </div>
</header>