<article class="plan-card @@planCardClass">
    <div class="plan-card__info">
        <h3 class="plan-card__title">
            @@title
        </h3>
        <span class="plan-card__period">
            @@period
        </span>
        <div class="plan-card__info-price">
            <span class="plan-card__price">
                @@price
            </span>
        @@if (showDiscount === true) {
            @@include('../components/badges/badge-discount.html', {
            "text": "Save $10"
            })
        }
        </div>
        @@if (showPopular === true) {
            @@include('../components/badges/badge-popular.html', {
            "badgePopularClass": "plan-card__badge-popular"
        })
        }
    </div>
            @@include('./cta.html', {
            "ctaClass": "plan-card__cta",
            "ctaText": "Get Started",
            "ctaTextClass": "plan-card__cta-text",
            "ctaIconClass": "plan-card__icon",
            "extraDots": ".",
            "ctaIcon": "arrow-right",
            "ctaWidth": "17",
            "ctaHeight": "15"
        })
</article>

