.top {
  padding: 24px 0 32px;
}

.breadcrumbs {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    padding-right: 32px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-image: url('../images/ligal/chevron-breadcrumbs.svg');
      width: 16px;
      height: 16px;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      padding-right: 0;

      &::after {
        display: none;
      }
    }
  }

  &__link {
    position: relative;
    transition: all .3s;
    padding-bottom: 1px;

    &:hover {
      color: $accent;
    }

    &:active {
     color: $accent;

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: $accent;
        left: 0;
        bottom: 0;
      }
    }

    &:focus {
      filter: drop-shadow($accent 3px 3px 10px);
    }
  }
}

.ligal {
  padding-bottom: 120px;

  &::before {
    position: absolute;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/ligal/ligal-bg.png');
    inset: 0;
    width: 100%;
    height: 629px;
    z-index: -1;
  }
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    background:
      linear-gradient(to top, #0B1217 0%, rgba(11, 18, 23, 0) 40%),
      linear-gradient(to bottom, #0B1217 0%, rgba(11, 18, 23, 0) 40%),
      linear-gradient(to left, #0B1217 0%, rgba(11, 18, 23, 0) 40%),
      linear-gradient(to right, #0B1217 0%, rgba(11, 18, 23, 0) 40%);
      height: 629px;
      width: 100%;
        z-index: -1;
  }


  &__inner {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__tab-nav {
    width: 100%;
    flex: 0 0 265px;
    position: relative;
    padding: 24px;

    backdrop-filter: blur(16px);
    background: linear-gradient(75.18deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.06) 100%);
    border: 1px solid transparent;
    border-radius: 24px;
    overflow: hidden;
    z-index: 0; // выше градиентов

    &::before {
      content: '';
      position: absolute;
      border-radius: 24px;
      z-index: -1;
      padding: 1px;
      inset: 0;
      background:
        linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%),
        linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);

      mask:
        linear-gradient(#fff, #fff) content-box,
        linear-gradient(#fff, #fff);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
  }

  &__tab-nav-title {
    font-size: 25px;
    margin-bottom: 32px;
  }

  &__tabs-content {
    max-width: 785px;
    width: 100%;
  }
}


.tab-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  &__btn {
    background-color: transparent;
    display: block;
    padding: 2px 0;
    position: relative;
    width: 100%;
    text-align: left;
    transition: all .3s;

    &:hover {
      color: $accent;

      &::before {
        left: -25px;
      }

      &::after {
        right: -25px;
      }
    }

    &:active {
      color: $accent;

      span {
        border-bottom: 1px solid $accent;
        width: 100%;
      }
    }

    &:focus {
      filter: drop-shadow($accent 3px 3px 10px);
    }


    &--active {
      color: $accent;

      &::before,
      &::after {
        position: absolute;
        content: '';
        height: 100%;
        width: 4px;
        background-color: $accent;
        top: 50%;
        transform: translateY(-50%)
      }

      &::before {
        left: -25px;
      }

      &::after {
        right: -25px;
      }
    }
  }
}

.terms {
  &__section {
    padding: 16px 0;
  }

  &__main-title {
    font-size: 72px;
    margin-bottom: 16px;
  }

  &__title {
    font-size: 36px;
    margin-bottom: 22px;
  }

  &__subtitle {
    font-size: 24px;
    margin-bottom: 22px;

    &--pt {
      padding-top: 32px;
    }
  }

  &__text {
    margin-bottom: 22px;

    &--down {
      margin-top: 16px;
    }

    &--bold {
      font-weight: 700;
    }

    &--mb0 {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    padding-left: 38px;
    position: relative;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $accent;
    }
  }
}



@media (max-width: 1120px) {
  .ligal {
    &__inner {
      gap: 32px;
    }

    &__tab-nav-title {
      font-size: 28px;
    }

    &__tab-nav {
      flex: 1 1 auto;
    }

    &__tabs-content {
      max-width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .ligal {
    &__inner {
      gap: 24px;
    }
  }

  .terms {
    &__main-title {
      font-size: 48px;
      margin-bottom: 12px;
    }

    &__section {
      padding: 12px 0;
    }

    &__title {
      font-size: 26px;
      margin-bottom: 16px;
    }

    &__subtitle {
      font-size: 24px;

      &--pt {
        padding-top: 24px;
      }
    }

    &__text {
      font-size: 16px;
    }

    &__item {
      &::before {
        top: 0;
        transform: translateY(0);
        background-color: $accent;
      }
    }
  }

  .accent-link {
    font-size: 16px;
  }
}

@media(max-width: 576px) {

  .terms {
    &__main-title {
      font-size: 32px;
    }
  }
}

