.top {
  padding: 24px 0 32px;
}

.breadcrumbs {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    padding-right: 32px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-image: url('../images/legal/chevron-breadcrumbs.svg');
      width: 16px;
      height: 16px;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      padding-right: 0;

      &::after {
        display: none;
      }
    }
  }

  &__link {
    position: relative;
    transition: all .3s;
    padding-bottom: 1px;

    &:hover {
      color: $accent;
    }

    &:active {
     color: $accent;

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: $accent;
        left: 0;
        bottom: 0;
      }
    }

    &:focus {
      filter: drop-shadow($accent 3px 3px 10px);
    }
  }
}

.legal {
  padding-bottom: 112px;

  &::before {
    content: "";
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/bg/futuristic-valley.jpg");
    
    @supports (background-image: url("data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAGF2aWZt")) {
      background-image: url("../images/bg/futuristic-valley.avif");
    }
    max-width: 1440px;
    width: 100%;
    height: 629px;
    width: 100%;
    inset: 0;
    z-index: -1;
  }
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(11, 18, 23, 0) 0%, #0B1217 100%), linear-gradient(0deg, rgba(11, 18, 23, 0) 0%, #0B1217 100%), linear-gradient(90deg, rgba(11, 18, 23, 0) 79%, #0B1217 100%), linear-gradient(-90deg, rgba(11, 18, 23, 0) 79%, #0B1217 100%);
    max-width: 1442px;
    height: 629px;
    width: 100%;
    z-index: -1;
  }


  &__inner {
    display: flex;
    gap: 40px;
    align-items: flex-start;
  //  flex-wrap: wrap;
  }

  &__tab-nav {
    max-width: 263px;
    width: 100%;
    //flex: 0 0 263px;
    position: relative;
    padding: 24px;

    backdrop-filter: blur(16px);
    background: linear-gradient(75.18deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.06) 100%);
    border: 1px solid transparent;
    border-radius: 24px;
    overflow: hidden;
    z-index: 0; // выше градиентов

    &::before {
      content: '';
      position: absolute;
      border-radius: 24px;
      z-index: -1;
      padding: 1px;
      inset: 0;
      background:
        linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%),
        linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);

      mask:
        linear-gradient(#fff, #fff) content-box,
        linear-gradient(#fff, #fff);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
  }

  &__tab-nav-title {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 15px;
    margin-bottom: 16px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background-color: $light-opacity-06;
      left: 0;
      bottom: 0;
    }
  }

  &__tabs-content {
    max-width: 785px;
    width: 100%;
  }
}


.tab-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  &__btn {
    background-color: transparent;
    display: block;
    padding: 2px 0;
    position: relative;
    width: 100%;
    text-align: left;
    transition: all .3s;

    &:hover {
      color: $accent;

      &::before {
        left: -25px;
      }

      &::after {
        right: -25px;
      }
    }

    &:active {
      color: $accent;
      span {
        border-bottom: 1px solid $accent;
        width: 100%;
      }
    }

    &:focus {
      filter: drop-shadow($accent 3px 3px 10px);
    }


    &--active {
      color: $accent;
      font-weight: 700;
      &::before,
      &::after {
        position: absolute;
        content: '';
        height: 100%;
        width: 4px;
        background-color: $accent;
        top: 50%;
        transform: translateY(-50%)
      }

      &::before {
        left: -25px;
      }

      &::after {
        right: -25px;
      }
    }
  }
}

.terms,
.privacy,
.refund,
.aboutUs {
  &__section {
    padding-bottom: 32px;
  }

  &__main-title {
    font-size: 56px;
    margin-bottom: 32px;
    font-weight: 500;
    letter-spacing: normal;
  }

  &__title {
    font-size: 40px;
    margin-bottom: 16px;
    letter-spacing: normal;
    font-weight: 500;
  }

  &__subtitle {
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 500;

    &--pt {
      padding-top: 32px;
    }
  }

  &__descr {
    font-size: 18px;
    &--mb {
      margin-bottom: 16px;
    }
  }

  &__text {
    margin-bottom: 16px;

    &--down {
      margin-top: 16px;
      margin-bottom: 0;
      font-size: 18px;
    }

    &--bold {
      font-weight: 700;
    }

    &--mb0 {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    padding-left: 38px;
    position: relative;
    margin-bottom: 12px;
    &:first-child {
      padding-top: 6px;
      &::before {
        top: 11px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      left: 15px;
      top: 5px;
      background-color: $accent;
    }
  }
}



@media (max-width: 768px) {
  .legal {
    &::before {
        background-image: url("../images/bg/futuristic-valley-tab.jpg");
    
        @supports (background-image: url("data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAGF2aWZt")) {
          background-image: url("../images/bg/futuristic-valley-tab.avif");
        }
      }
    
    &__inner {
      gap: 32px;
      flex-wrap: wrap;
    }
    &__tab-nav-title {
      font-size: 24px;
    }

    &__tab-nav {
      max-width: 100%;
    }

    &__tabs-content {
      max-width: 100%;
    }
  }

  .terms,
  .privacy,
  .refund,
  .aboutUs {

    &__subtitle {
      font-size: 24px;
    }
  }
}

@media(max-width: 576px) {
  .top{
    padding: 12px 0 24px;
  }
  .breadcrumbs {
    &__item{
      padding-right: 22px;
      &::after {
        width: 14px;
        height: 14px;
        right: 4px;
      }
    }
    &__link {
      font-size: 14px;
    }
  }
  .legal {
    &::before {
      background-image: url("../images/bg/futuristic-valley-mob.jpg");
  
      @supports (background-image: url("data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAGF2aWZt")) {
        background-image: url("../images/bg/futuristic-valley-mob.avif");
      }
    }
  }
  .terms,
  .privacy,
  .refund,
  .aboutUs {
    &__main-title {
      font-size: 40px;
    }
    &__title {
      font-size: 32px;
    }
  }
}

