.badge-popular {
    display: inline-block;
    white-space: nowrap;
    font-size: 14px;
    background-color: $accent;
    z-index: 15;
    letter-spacing: normal;
    z-index: 50;
    font-weight: 700;
    padding: 6px 14px;
    color: $dark;
    border-radius: 10px;
    box-shadow: 0 0 32px $accent-opacity-60;
}